.blog-page {

  .entry-image {
    width: 100%;

    @media only screen and (min-width : 1300px) {
      max-width: 180px;
      margin-right: 20px;
      float: left;
    }
  }

  .entry-meta {
    max-width: 155px;
  }

  .entry-content {
    @include fontSize(17px);
  }

  //----------  grid  ---------------
  @media only screen and (min-width : 415px) {
    .post-grid {
      margin-left: -10px;
      margin-right: -10px;
    }

    .also-read {
      width: calc(50%);
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 0;
    }
  }

  @media only screen and (min-width: 630px) {
    .also-read {
      width: calc(33.33%);
    }
  }

  @media only screen and (min-width: 1200px) {
    .also-read {
      width: calc(25%);
    }
  }

  @media only screen and (min-width: 1300px) {
    .also-read {
      width: calc(50% - 13.5px);
      margin-top: 0;
    }

    .post-card.also-read + .post-card.also-read {
      margin-left: 15px;
    }

    .post-card.also-read:nth-child(2n + 1) {
      margin-left: 0 !important;
    }
  }
}

// --------  block-blog  --------
.block-blog {
  @extend .block-also-read;
  padding-top: 0;
}


//---------  block-link  -----------
.block-link {
  border-radius: 10px;
  background-color:  $main-color;
  margin-top: 4.5%;
  margin-bottom: 4%;
}

.link-list {
  margin-left: -20px;
  padding: 20px;

  @media only screen and (min-width : 1350px) {
    margin-left: -35px;
  }

  &--item {
    display: inline-block;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    @media only screen and (min-width : 1350px) {
      padding-left: 35px;
    }
  }

  a {
    @extend .hover;
    color: $text-color;
    font-weight: 300;
    border-bottom: 1px solid #d0d0d0;
  }
}
