.breadcrumb {
  padding-top: 17px;

  a {
    @extend .hover;
    @include fontSize(13px);
    color: #666;
  }

  > span > a {
    margin-right: 3px;
  }

  > span > span span {
    position: relative;

    &:before {
      content: '>';
      padding-right: 5px;
      color: $title-color-second;
      @include fontSize(13px);
    }
  }
}