.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  max-width: 180px;
  width: 100%;
  min-height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  background-color: $title-color-second;
  transition: 0.1s;

  &:hover {
    background-color: rgba(254, 77, 61, 0.9);
  }
}

//------  btn-main  --------
.btn-main {
  @extend .btn;
  min-height: 27px;
  border-radius: 4px;
  font-weight: 700;
}

//----------  btn scroll to top  --------
.scrolltop {
  @extend .animation;
  position: fixed;
  right: 10px;
  bottom: 20px;
  opacity: 0.5;
  cursor: pointer;
  background: none;
  border: none;

  @media only screen and (min-width : 1100px) {
    right: 30px;
    bottom: 30px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }

  img {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }
}