textarea,
input[type = text],
input[type = email] {
  border-radius: 4px;
  box-shadow: 0 4px 8.55px 0.45px rgba(117, 101, 95, 0.19);
  border: none;
  outline: none;
}

textarea {
  padding: 15px;
}

input {
  padding: 10px 15px;
}