.block-list-contents {
  background-color: $main-color;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px 20px 5px;
  border-radius: 10px;

  @media only screen and (min-width : 530px) {
    padding: 10px 20px 5px;
  }

  .title-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    letter-spacing: 1.55px;

    @media only screen and (min-width : 1350px) {
      padding-left: 20px;
    }
  }
}