.rating {
  @extend .clearfix;
  position: relative;
  width: 70px;
  height: 13px;
  background: url("../img/rating-star-sprite.png");

  li {
    float: left;
    height: 13px;
  }

  .current {
    z-index: 1;
    background: url("../img/rating-star-sprite.png") left bottom;
  }

  span[class*="star"] {
    z-index: 5;
    position: absolute;
    display: block;
    width: 14px;
    height: 13px;
    cursor: pointer;
  }

  span[class*="star"]:hover {
    z-index: 2;
    left: 0;
    background: url("../img/rating-star-sprite.png") left bottom;
  }

  span.star1 {
    left: 0;
  }

  span.star1:hover {
    width: 14px;
  }

  span.star2 {
    left: 14px;
  }

  span.star2:hover {
    width: 28px;
  }

  span.star3 {
    left: 28px;
  }

  span.star3:hover {
    width: 42px;
  }

  span.star4 {
    left: 42px;
  }

  span.star4:hover {
    width: 56px;
  }

  span.star5 {
    left: 56px;
  }

  span.star5:hover {
    width: 70px;
  }
}

//====== whithout interactive =========
.rating-whithout-interactive {
  width: 70px;
  height: 13px;
  background: url("../img/rating-star-sprite.png");

  .current {
    z-index: 1;
    background: url("../img/rating-star-sprite.png") left bottom;
    height: 13px;
  }
}