.search-form {
  position: relative;
}

.search-field {
  width: 100%;
  margin-bottom: 0;
  padding-right: 50px;
  background: none;
  border: none;
}

.search-submit {
  @extend .animation;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  font-size: 0;
  border: none;
  background: url("../img/search.svg") center center no-repeat;
  background-size: 80%;
  box-shadow: none;
  margin-bottom: 0;
  cursor: pointer;

  &:hover {
    background-size: 100%;
  }
}