.widget-area {
  display: none;

  @media only screen and (min-width : 992px) {
    display: block;
    width: 300px;
  }
}

.widget {
  @include fontSize(14px);
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;

  a {
    @include fontSize(14px);
    @extend .hover;
    color: $text-color;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.widget-header {
  @include fontSize(20px);
  color: $title-color-main;
  font-weight: 700;
  padding-bottom: 15px;
  letter-spacing: -0.5px;
}



