@import "../libs/magnific-popup/dist/magnific-popup";
@import "../libs/owl.carousel/dist/assets/owl.carousel.min";
@import "../libs/owl.carousel/dist/assets/owl.theme.default.min.css";
@import "../libs/jQueryFormStyle/jquery.formstyler";
@import "../libs/wow/animate";




