@import "bourbon";

//var font-family
$default-font: 'Lato', sans-serif;

//var colors
$main-color: #f2f2f2;
$text-color: #222;
$title-color-main: #000;
$title-color-second: #fe4d3d;
$placholder-color: #999;

//var width
$min-width: 270px;
$max-width: 1346px;


